<%= render 'shared/header' %>

<section class="spring-collage">
  <%= link_to (image_tag "S12_c1_r1.png", class: "s-c1r1"), "/seersucker-shirt-dress" %>
  <%= link_to (image_tag "S12_c1_r21.png", class: "s-c1r21"), "/back-button-detail-linen-tunic" %>
  <%= link_to (image_tag "S12_c1_r22.png", class: "s-c1r22"), "/printed-critter-button-up" %>  
  <%= link_to (image_tag "S12_c1_r3.png", class: "s-c1r3" ),   "/silk-trim-sweater"    %>
  <%= link_to (image_tag "S12_c2_r1.png",  class: "s-c2r1"),   "/linen-shirt-dress"    %>
  <%= link_to (image_tag "S12_c2_r2.png", class: "s-c2r2"), "/cotton-eyelet-shirt"     %>
  <%= link_to (image_tag "S12_c2_r3.png",  class: "s-c2r3"), "/printed-floral-shirt"   %>
  <%= link_to (image_tag "S12_c2_r4.png",  class: "s-c2r4"), "/spring-printed-jacket"%>
  <%= link_to (image_tag "S12_c3_r11.png", class: "s-c3r11"),"/embroidered-shirt"  %>
  <%= link_to (image_tag "S12_c3_r12.png", class: "s-c3r12"), "/printed-tunic" %>
  <%= link_to (image_tag "S12_c3_r2.png", class: "s-c3r2"),  "/single-button-linen-jacket" %>
  <%= link_to (image_tag "S12_c3_r3.png",  class: "s-c3r3"),   "/ruched-jacket" %>
  <%= link_to (image_tag "S12_c4_r1.png",  class: "s-c4r1"),  "/pintuck-shirt" %>
  <%= link_to (image_tag "S12_c4_r2.png", class: "s-c4r2"),   "/single-button-jacket" %>
  <%= link_to (image_tag "S12_c4_r3.png",  class: "s-c4r3"),  "/sleeveless-striped-dress" %>
</section>




