<%= render 'shared/header' %>

<section class="fall-collage">
  <%= link_to (image_tag "f12_c1_r1.png", class: "c1r1"), "/fitted-denim-jacket" %>
  <%= link_to (image_tag "f12_c1_r2.png", class: "c1r2"), "/-front-jacket" %>
  <%= link_to (image_tag "f12_c1_r3.png", class: "c1r3" ),  "/tuxedo-blazer" %>
  <%= link_to (image_tag "f12_c1_r4.png",  class: "c1r4"),  "/printed-knit-top-pleated-skirt" %>
  <%= link_to (image_tag "f12_c2_r1.png",  class: "c2r1"),  "/printed-jacket" %>
  <%= link_to (image_tag "f12_c2_r21.png", class: "c2r21"), "/sequined-top-riding-pant" %>
  <%= link_to (image_tag "f12_c2_r22.png", class: "c2r22"), "/embroidered-plaid-shirt" %>
  <%= link_to (image_tag "f12_c2_r3.png",  class: "c2r3"),  "/faux-leather-motorcycle-jacket" %>
  <%= link_to (image_tag "f12_c3_r1.png",  class: "c3r1"),  "/stripe-blouse-wide-leg-pant" %>
  <%= link_to (image_tag "f12_c3_r11.png", class: "c3r11"), "/faux-leather-blazer" %>
  <%= link_to (image_tag "f12_c3_r2.png", class: "c3r2"),   "/novelty-pleat-shirt" %>
  <%= link_to (image_tag "f12_c3_r3.png",  class: "c3r3"),  "/novelty-blouse-printed-pant" %>
</section>