<%= render 'shared/header' %>

<section class="fall-collage">
  <%= link_to (image_tag "f12_c1_r1.png", class: "c1r1"), root_path %>
  <%= link_to (image_tag "f12_c1_r2.png", class: "c1r2"), root_path %>
  <%= link_to (image_tag "f12_c1_r3.png", class: "c1r3" ), root_path %>
  <%= link_to (image_tag "f12_c1_r4.png",  class: "c1r4"), root_path %>
  <%= link_to (image_tag "f12_c2_r1.png",  class: "c2r1"), root_path %>
  <%= link_to (image_tag "f12_c2_r21.png", class: "c2r21"), root_path %>
  <%= link_to (image_tag "f12_c2_r22.png", class: "c2r22"), root_path %>
  <%= link_to (image_tag "f12_c2_r3.png",  class: "c2r3"), root_path %>
  <%= link_to (image_tag "f12_c3_r1.png",  class: "c3r1"), root_path %>
  <%= link_to (image_tag "f12_c3_r11.png", class: "c3r11"), root_path %>
  <%= link_to (image_tag "f12_c3_r2.png", class: "c3r2"), root_path %>
  <%= link_to (image_tag "f12_c3_r3.png",  class: "c3r3"), root_path %>
</section>