<nav>
<ul>
  <li><%= link_to "Home", "#" %></li>
  <li><%= link_to "Spring 2012", "#" %></li>
  <li><%= link_to "Fall 2012", "#" %></li>
  <li><%= link_to "About Us", "#" %></li>
  <li><%= link_to "Press", "#" %></li>
  <li><%= link_to "Stores", "#" %></li>
  <li><%= link_to "Contact", "#" %></li>
</ul>
</nav>