<nav>
  <ul>
    <li><%= link_to "Home", root_path,             class: cp(root_path) %></li>
    <li id="collection-header">Collections
      <ul>
        <!-- <li><%= link_to "- Spring 2013", "/spring-2013",     class: cp('/spring-2013') %></li> -->
        <li><%= link_to "- Fall 2012", "/fall-2012",     class: cp('/fall-2012') %></li>
        <li><%= link_to "- Spring 2012", "/spring-2012", class: cp('/spring-2012') %></li>

      </ul>
    </li>
    <li><%= link_to "Designer", designer_path,      class: cp(designer_path) %></li>
    <li><%= link_to "About Us", about_path,         class: cp(about_path) %></li>
    <li><%= link_to "Press", press_path,            class: cp(press_path) %></li>
    <li><%= link_to "Stores", stores_path,          class: cp(stores_path) %></li>
    <li><%= link_to "Contact", contact_path,        class: cp(contact_path) %></li>
    <ul>
  </ul>
</nav>

