<%= render 'shared/header' %>

<section class="spring-collage">
  <%= link_to (image_tag "spring13/c1_r1.jpg", class: "s13-c1r1"), "/silk-tank-top-and-cropped-pant" %>
  <%= link_to (image_tag "spring13/c1_r2.jpg", class: "s13-c1r2"), "/silk-tank-top-and-clip-dot-scarf" %>
  <%= link_to (image_tag "spring13/c1_r3.jpg", class: "s13-c1r3"), "/3-4-slv-printed-blouse-and-stretch-cropped-pant" %>  
  <%= link_to (image_tag "spring13/c2_r1.jpg", class: "s13-c2r1" ),   "/linen-jacket-and-tank-top-and-slim-legging"  %>
  <%= link_to (image_tag "spring13/c2_r2.jpg",  class: "s13-c2r2"),   "/clip-dot-tank-and-cropped-pant"    %>
  <%= link_to (image_tag "spring13/c2_r3.jpg", class: "s13-c2r3"), "/knit-tank-dress-and-skinny-belt-and-waterfall-cardigan"     %>
  <%= link_to (image_tag "spring13/c3_r1.jpg",  class: "s13-c3r1"), "/safari-shirt-jacket-and-printed-capri-pant"   %>
  <%= link_to (image_tag "spring13/c3_r2.jpg",  class: "s13-c3r2"), "/3-4-slv-block-linen-tunic"%>
  <%= link_to (image_tag "spring13/c3_r3.jpg", class: "s13-c3r3"),"/roll-tab-boyfriend-shirt-and-denim-trousers"  %>
  <%= link_to (image_tag "spring13/c4_r1.jpg", class: "s13-c4r1"), "/sleevless-hi-lo-printed-silk-shirt"%>
  <%= link_to (image_tag "spring13/c4_r2.jpg", class: "s13-c4r2"),  "/crop-jacket-and-floral-print-silk-top" %>
  <%= link_to (image_tag "spring13/c4_r3.jpg",  class: "s13-c4r3"),   "/bib-front-dress-and-bamboo-buckle-belt" %>
  <%= link_to (image_tag "spring13/c5_r1.jpg",  class: "s13-c5r1"),  "/striped-sequin-dress-and-waterfall-cardigan" %>
  <%= link_to (image_tag "spring13/c5_r2.jpg", class: "s13-c5r2"),   "/elbow-sleeve-shirt-dress" %>
  <%= link_to (image_tag "spring13/c5_r31.jpg",  class: "s13-c5r31"),  "/embroidered-linen-pant" %>
  <%= link_to (image_tag "spring13/c5_r32.jpg",  class: "s13-c5r32"),  "/drop-shoulder-sweater-and-wide-leg-pant" %>
</section>




